[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/nightly/cpu"
verify_ssl = true
name = "downloadpytorch-948"

[packages]
keras-core = "*"
ipykernel = "*"
matplotlib = "*"
tensorflow = "*"
torch = {version = "*", index = "downloadpytorch-948"}

[dev-packages]

[requires]
python_version = "3.10"
