@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    @apply text-white;
  }
}

:root {
  --gradient: linear-gradient(45deg, #0c4269, #086cb5, #00b9b4);
}

.background_gradient {
  background-size: 200%;
  background-image: var(--gradient);
  /* animation: g_anime 8s ease infinite alternate; */
}

@keyframes g_anime {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}





