@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    @apply text-white;
  }
}

:root {
  --gradient: linear-gradient(30deg, #0816b5, #086cb5, #08b588);
}

.background_gradient {
  background-size: 200%;
  background-image: var(--gradient);
  animation: g_anime 20s ease infinite alternate;
}

@keyframes g_anime {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}





